* {
    box-sizing: border-box;
}

:root {
    --dark-color: #1D2238;
    --light-color: #343A56;
    --text-color: #eee;
    --second-text-color: #C5C8D3;
    --imdb-color: #DBA506;
    --button-color: #FFC542;
    --button-hover-color: #cf9802;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-color);
    width: 100%;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}

header {
background-color: var(--light-color);
padding-left: 3rem;
display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
    margin: 1rem 1rem;
}

#search {
    margin: 1rem;
    float: right;
    width: 20%;
    border-radius: 18px;
    border: 2px solid var(--dark-color);
    background-color: var(--light-color);
    color: var(--second-text-color);
    font-size: 16px;
    padding: 0.2rem 0.4rem;
}

#search::placeholder {
    color: var(--second-text-color);
}

.card {
    background-color: var(--light-color);
    width: 25%;
    padding-bottom: 1.4rem;
    cursor: pointer;
}

.card-img img {
    width: -webkit-fill-available;
}

.card-descriprion span {
    font-size: 1.4rem;
    height: fit-content;
}

.card-descriprion {
    display: flex;
    padding: 0.6rem;
    justify-content: space-between;
    align-items: top;
    color: var(--text-color);
    background-color: var(--light-color);
}

.card-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 112px;
    
}

.movie-title {
    width: 70%;
    font-weight: 600;
    height: 60px; 
    overflow: hidden;
}

.movie-imdb {
    padding: 0.4rem;
    background-color: transparent;
    color: var(--imdb-color);
    background-color: var(--dark-color);
}

.watchlist {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: var(--button-color);
    border: none;
    color: var(--dark-color);
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
}

.watchlist:hover {
    background-color: var(--button-hover-color);
    color: var(--light-color);
}

#template {
    display: none;
}

footer {
    background-color: var(--light-color);
padding-left: 3rem;
display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--second-text-color);
    padding: 1rem;

}
